{% extends "base_of_article.html" %}

{% block article %}
    <div id="article" class="markdown-body">
        {{ essay.content }}

        {% block article_content %}
            {#    {{ essay.content|safe }}#}
            <pre><code class="lang-javascript">$(<span class="keyword">function</span>(){
                $(<span class="string">'div'</span>).html(<span class="string">'I am a div.'</span>);
                });</code></pre>
            </div>
        {% endblock %}
{% endblock %}



{% block js %}
    <script>
        $(document).ready(function () {
            marked.setOptions({
  renderer: new marked.Renderer(),
  gfm: true});
            document.getElementById('article').innerHTML = marked('\n' + $("#article").text());
        });

        hljs.initHighlightingOnLoad();

    </script>
{% endblock %}