{% extends "base/base.html" %}

{% block css %}

    <style type="text/css">
        #articleBox {
            margin: 10px 60px;
        }

        #articleBox a {
            color: #111;
        }

        .create_time {
            color: #777;
        }

    </style>
{% endblock %}

{% block main_content %}
    <div id="articleBox">
        <ul class="list-group">
            {% for article in articles %}
                <li class="list-group-item"><a href="{% url "display_article" article.id %}">{{ article.title }}</a>

                    <div class="pull-right create_time">{{ article.created_at }}</div>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}