{% extends "templates/base/base.html" %}


{% block css_file %}
    <link href="{{ STATIC_URL }}css/github.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/github-style.css" rel="stylesheet">

{% endblock %}

{% block css %}
    <style type="text/css">
        .markdown-body {
            display: none;
        }

        #article {
            width: 100%;
            overflow-y: auto;
        }
    </style>
    {% block up_css %}
        {% endblock %}
{% endblock %}

{% block article %}
    <div id="articleBox">
        {% block article_head %}

        {% endblock %}
        <div id="article" class="markdown-body">
            {% block article_content %}

            {% endblock %}
        </div>
    </div>
{% endblock %}


{% block js_file %}
    <script src="{{ STATIC_URL }}js/highlight.pack.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/marked.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            var article = $("#article");
            var md_content = $.trim(article.text());
            document.getElementById('article').innerHTML = marked(md_content);
            article.show();
            hljs.initHighlightingOnLoad();
        });
    </script>
{% endblock %}